.cardContainer {
  max-width: 400px;
  padding: 15px;
  height: 500px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
